/*--------------------*/
/* - INPUTS           */
/*--------------------*/
.input {position: relative;z-index: 1;height: 64px;font-size: 16px;font-weight: 400;line-height: 64px;padding: 15px;text-align: left;text-overflow: ellipsis;color: var(--clr-black);border-radius: var(--rd-1);border: 1px solid var(--clr-grey);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
textarea.input {height: 140px;line-height: 1.38em;}
.input-placeholder {display: inline-block;pointer-events: none;position: absolute;text-align: left;z-index: 2;top: 0;left: 10px;-webkit-transform: translateY(23px);transform: translateY(23px);--pl-size: 16px;font-size: var(--pl-size);line-height: 1.1em;font-weight: 400;color: var(--clr-text);display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;padding-inline: 5px;background-color: var(--clr-white);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.input-field-wrapper {position: relative;}
.input-field-wrapper.focus .input-placeholder,
.input-field-wrapper.value .input-placeholder {font-size: calc(var(--pl-size) * 0.876);-webkit-transform: translateY(-7px);transform: translateY(-7px);}
.input-field-wrapper:where(.focus) .input {border-color: var(--clr-black);}
.input-field-wrapper.invalid:not(.value) .input,
.input-field-wrapper.invalid-email:not(.value) .input {border-color: var(--clr-red);}
.form-block .row {--bs-gutter-x: 20px;--bs-gutter-y: var(--bs-gutter-x);}
.form-block > * + * {margin-top: 20px;}
.form-informer {text-align: left;color: var(--clr-red);font-size: 16px;line-height: 1.3em;}
@media (max-width: 1640px) {
.input {height: 56px;line-height: 56px;}
textarea.input {height: 120px;}
.input-placeholder {-webkit-transform: translateY(20px);transform: translateY(20px);--pl-size: 16px;}
.form-block .row {--bs-gutter-x: 18px;}
.form-block > * + * {margin-top: 18px;}
}
@media (max-width: 991px) {
.input {height: 52px;line-height: 52px;padding: 10px;}
textarea.input {height: 110px;}
.input-placeholder {left: 5px;-webkit-transform: translateY(19px);transform: translateY(19px);--pl-size: 14px;}
.form-block .row {--bs-gutter-x: 15px;}
.form-block > * + * {margin-top: 15px;}
.form-informer {font-size: 14px;}
}
/*--------------------*/
/* - CHECKBOX        */
/*--------------------*/
.ch-box-wrap {display: block;text-align: left;}
.ch-box-wrap .ch-box-entry {margin-right: 20px;}
.ch-box-wrap .ch-box-entry:last-child {margin-right: 0;}
.ch-box-entry {display: inline-block;cursor: pointer;margin-inline: 0;padding: 0;line-height: 0;font-size: 0;min-width: 30px;min-height: 20px;}
.ch-box-entry input {display: none;}
.ch-box-entry span {position: relative;display: block;font-size: 18px;line-height: 1.3em;font-weight: 400;color: var(--clr-text);padding-left: 25px;--s-width: 14px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.ch-box-entry span:before {content: "";position: absolute;left: 0;top: 4px;width: var(--s-width);height: var(--s-width);border: 1px solid var(--clr-input);border-radius: 3px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.ch-box-entry span:after {content: "";position: absolute;left: 3px;top: 7px;width: calc(var(--s-width) - 6px);height: calc(var(--s-width) - 6px);z-index: 1;-webkit-transform: scale(0);transform: scale(0);-webkit-backface-visibility: hidden;backface-visibility: hidden;border-radius: 3px;background-color: var(--clr-input);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.ch-box-entry span a {display: inline;color: var(--clr-green);text-decoration: underline;text-decoration-color: transparent;}
.ch-box-entry input[type=radio] + span:before,
.ch-box-entry input[type=radio] + span:after {border-radius: 100%;}
.ch-box-entry input:checked + span::before {border-color: var(--clr-green);}
.ch-box-entry input:checked + span:after {background-color: var(--clr-green);-webkit-transform: scale(1);transform: scale(1);}
/* Change Autocomplete styles in Chrome*/
@media (min-width: 1200px) {
.ch-box-entry a:not(.btn):hover {text-decoration-color: currentColor;}
}
@media (max-width: 991px) {
.ch-box-entry span {font-size: 16px;}
.ch-box-entry span:before {top: 3px;}
.ch-box-entry span:after {top: 6px;}
}
/*---------------------*/
/* - Sumoselect Custom */
/*---------------------*/
.SelectBox {padding: 0;margin: 0;line-height: 0;font-size: 0;}
.SumoSelect {cursor: pointer;z-index: 3;width: 100%;--sel-p: 15px;--sel-h: 64px;--sel-fz: 16px;}
.SumoSelect + .input-placeholder {z-index: 5;}
.SumoSelect > .CaptionCont {text-align: left;height: var(--sel-h);padding: var(--sel-p);padding-right: calc(var(--sel-p) * 3);background: transparent;border-radius: var(--rd-1);color: var(--clr-black);border: 1px solid var(--clr-grey);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.SumoSelect > .CaptionCont > span {cursor: pointer;padding-right: 0;font-size: var(--sel-fz);font-weight: 400;line-height: calc(var(--sel-h) - var(--sel-p) * 2);color: currentColor;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.SumoSelect > .CaptionCont > span.placeholder {font-style: normal;color: var(--clr-text);display: none;}
.SumoSelect > .CaptionCont > label {display: inline-block;cursor: pointer;width: 20px;height: 20px;color: currentColor;right: var(--sel-p);bottom: auto;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.SumoSelect > .CaptionCont > label i {background-image: none;opacity: 1;width: 10px;height: 10px;top: 40%;left: 50%;right: auto;bottom: auto;color: currentColor;border-right: 1px solid currentColor;border-bottom: 1px solid currentColor;-webkit-transform: translate(-50%, -50%) rotate(45deg);transform: translate(-50%, -50%) rotate(45deg);}
.SumoSelect > .optWrapper {display: block;overflow: auto;z-index: 2;padding: 0;top: 100%;left: 0;width: 100%;border: 1px solid var(--clr-black);border-top: none;border-radius: 0 0 var(--rd-1) var(--rd-1);opacity: 0;visibility: hidden;-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: var(--clr-white);-webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.07);box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.07);-webkit-transition: 0s;transition: 0s;}
.SumoSelect > .optWrapper > .options {max-height: 205px;padding: 10px 0;border-radius: 0 !important;}
.SumoSelect > .optWrapper > .options li.opt {padding: 0;border-bottom: 0;}
.SumoSelect > .optWrapper > .options li label {white-space: unset;text-align: left;padding: 10px var(--sel-p);font-size: var(--sel-fz);line-height: 1.1em;font-weight: 400;color: var(--clr-black);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.SumoSelect > .optWrapper > .options li.opt.selected label {color: var(--clr-green);}
.SumoSelect > .optWrapper > .options > .opt.disabled:first-child {display: none;}
.SumoSelect > .optWrapper > .options li.group > label {padding: 10px 15px;font-weight: 600;}
.SumoSelect > .optWrapper > .options li ul li.opt {padding-left: 10px;}
.SumoSelect:focus > .CaptionCont,
.SumoSelect:hover > .CaptionCont {-webkit-box-shadow: none;box-shadow: none;border-color: var(--clr-grey);}
.SumoSelect.open {z-index: 4 !important;}
.SumoSelect.open > .CaptionCont {border-color: var(--clr-black);border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.SumoSelect.open > .CaptionCont > label {-webkit-transform: translateY(-50%) rotateX(180deg);transform: translateY(-50%) rotateX(180deg);}
.SumoSelect.open > .optWrapper {top: 100%;opacity: 1;visibility: visible;-webkit-transition: var(--transition-1);transition: var(--transition-1);-webkit-transition-delay: 0.2s;transition-delay: 0.2s;}
.SumoSelect.disabled {opacity: 0.5;}
.SumoSelect.disabled > .CaptionCont {cursor: not-allowed;}
.SumoSelect.disabled > .CaptionCont > span {cursor: not-allowed;}
@media (min-width: 1200px) {
.SumoSelect > .optWrapper > .options li.opt:hover label {background-color: var(--clr-grey-2);}
}
@media (max-width: 1640px) {
.SumoSelect {--sel-h: 56px;}
}
@media (max-width: 991px) {
.SumoSelect {--sel-p: 10px;--sel-h: 52px;}
}