/*--------------------*/
/* - FONTS            */
/*--------------------*/
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap);/*--------------------*/
/* - CUSTOM PRELOADER */
/*--------------------*/
#loader-wrapper {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 9999;background-color: var(--clr-white);-webkit-animation: loader 0.8s linear;animation: loader 0.8s linear;-webkit-animation-iteration-count: 1;animation-iteration-count: 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
@-webkit-keyframes loader {
0% {opacity: 1;}
70% {opacity: 1;}
99% {opacity: 0;}
100% {display: none;visibility: hidden;z-index: -10;opacity: 0;}
}
@keyframes loader {
0% {opacity: 1;}
70% {opacity: 1;}
99% {opacity: 0;}
100% {display: none;visibility: hidden;z-index: -10;opacity: 0;}
}
/*--------------------*/
/* - RESET */
/*--------------------*/
html {overflow-y: scroll;}
*,
*:before,
*:after {-webkit-box-sizing: border-box;box-sizing: border-box;}
* {margin: 0;padding: 0;border: 0;font-size: 100%;line-height: 0;font: inherit;vertical-align: baseline;-webkit-text-size-adjust: none;-webkit-locale: auto;}
html:not(.touch-screen)::-webkit-scrollbar,
html:not(.touch-screen) *::-webkit-scrollbar {width: 6px;height: 6px;}
html:not(.touch-screen)::-webkit-scrollbar-track,
html:not(.touch-screen) *::-webkit-scrollbar-track {background: var(--clr-white);}
html:not(.touch-screen)::-webkit-scrollbar-thumb,
html:not(.touch-screen) *::-webkit-scrollbar-thumb {background: var(--clr-green);}
:focus,
:hover,
:active,
:visited {outline: none;}
button {background: none;}
body ::-moz-selection {color: var(--clr-white);background: var(--clr-prl);}
body ::selection {color: var(--clr-white);background: var(--clr-prl);}
a {display: inline-block;text-decoration: none;cursor: pointer;outline: none;color: inherit;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
a:hover {text-decoration: none;}
ul,
ol {list-style: none;}
picture {font-size: 0;}
img {max-width: 100%;height: auto;}
input {-webkit-appearance: none;-moz-appearance: none;font-size: 16px;font-weight: 400;color: var(--clr-black);}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {display: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance: textfield;}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {-webkit-appearance: none;height: 0.7em;width: 0.7em;background-size: contain;cursor: pointer;}
input,
textarea,
select {border-radius: 0;background: none;border: none;margin: 0;width: 100%;padding: 0;}
textarea {display: block;resize: none;overflow: auto;}
select::-ms-expand {display: none;}
/*--------------------*/
/* - GLOBAL SETTINGS  */
/*--------------------*/
:root {--ff-1: "Quicksand",sans-serif;--h-1: 80px;--h-2: 70px;--h-3: 42px;--h-4: 25px;--h-5: 18px;--h-6: 16px;--rd-1: 10px;--rd-2: 15px;--rd-3: 30px;--clr-title: #131E29;--clr-text: #4A5055;--clr-plc: #4A5055;--clr-input: #D3D3D3;--clr-white: #ffffff;--clr-black: #131E29;--clr-red: #EB5757;--clr-grey: #D3D3D3;--clr-grey-2: #E6E6E6;--clr-grey-3: #f6f6f6;--clr-org: #FF6A39;--clr-green: #009F4D;--clr-prl: #A05EB5;--bg-1: #F9F9F9;--bg-2: #1A2530;--transition-1: .3s ease;}
html {height: auto;-webkit-font-smoothing: antialiased;}
html.keyboard-focus:focus {outline: auto;}
body {height: auto;background-color: var(--clr-white);scroll-behavior: smooth;}
#content-block {overflow: hidden;position: relative;min-height: 100vh;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
footer {margin-top: auto;}
.overflow-hidden,
html.overflow-hidden body {overflow: hidden;}
html.overflow-menu,
html.overflow-menu body {overflow: hidden;}
.section {position: relative;}
.sec-decor {position: absolute;z-index: -1;pointer-events: none;}
[class*=spacer] {clear: both;width: 100% !important;}
.spacer-lg {height: 160px;}
.spacer-md {height: 120px;}
.spacer-sm {height: 60px;}
.spacer-xs {height: 30px;}
.swiper-slide:not(:first-child) {display: block;}
.swiper-container {opacity: 0;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.swiper-container.swiper-initialized {opacity: 1;}
.popup-wrapper,
.cookies-informer {display: none;}
@media (min-width: 1200px) {
.container {width: 94%;}
}
@media (min-width: 2000px) {
:root {--h-4: 26px;--h-5: 20px;--h-6: 17px;}
.container {max-width: 1920px;}
}
@media (max-width: 1640px) {
:root {--h-1: 60px;--h-2: 40px;--h-3: 32px;--h-4: 22px;--h-5: 17px;}
.spacer-lg {height: 100px;}
.spacer-md {height: 80px;}
.spacer-sm {height: 40px;}
.spacer-xs {height: 20px;}
}
@media (max-width: 1199px) {
:root {--h-1: 50px;--h-2: 30px;--h-3: 26px;}
.container {width: 100%;}
}
@media (max-width: 991px) {
:root {--h-1: 32px;--h-2: 28px;--h-3: 24px;--h-4: 19px;--h-5: 16px;--h-6: 15px;--rd-1: 5px;--rd-2: 10px;--rd-3: 15px;}
.spacer-lg {height: 60px;}
.spacer-md {height: 40px;}
.spacer-sm {height: 25px;}
.spacer-sm {height: 15px;}
}
/*--------------------*/
/* - HEADER           */
/*--------------------*/
:root {--h-height: 94px;--h-logo-width: 194px;}
header {height: var(--h-height);}
.h-wrap {position: fixed;z-index: 100;top: 0;left: 0;width: 100%;background-color: var(--clr-white);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
header.scrolled .h-wrap {-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);}
.h-inner {position: relative;width: 100%;height: var(--h-height);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.h-btn {position: relative;cursor: pointer;-ms-flex-negative: 0;flex-shrink: 0;--h-btn-clr: var(--clr-grey-2);--h-btn-svg-clr: var(--clr-black);--h-btn-i: 28px;--h-btn-b: 24px;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding: 12px 16px;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;border-radius: var(--rd-1);border: 1px solid var(--h-btn-clr);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.h-btn b {display: inline-block;-ms-flex-negative: 0;flex-shrink: 0;position: absolute;z-index: 1;top: calc(-1 * var(--h-btn-b) / 2.5);right: calc(-1 * var(--h-btn-b) / 2.5);width: var(--h-btn-b);height: var(--h-btn-b);text-align: center;font-size: 14px;font-weight: 400;line-height: var(--h-btn-b);color: var(--clr-white);border-radius: 100%;background-color: var(--clr-org);}
.h-btn i {position: relative;display: inline-block;width: var(--h-btn-i);height: var(--h-btn-i);border-radius: 100%;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.h-btn svg {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);max-width: 60%;max-height: 60%;}
.h-btn svg * {-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.h-btn svg *[stroke] {stroke: var(--h-btn-svg-clr);}
.h-btn svg *[fill] {fill: var(--h-btn-svg-clr);}
.h-wrap-left {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width: calc(50% - var(--h-logo-width) / 2 - 20px);}
.h-wrap-right {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;width: calc(50% - var(--h-logo-width) / 2 - 20px);}
.h-wrap-right > * + * {margin-left: 25px;}
.h-hero-links {margin-left: 30px;}
.h-hero-links ul {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.h-hero-links li {margin-right: 30px;}
.h-hero-links li:last-child {margin-right: 0;}
.h-hero-links a {font-size: 18px;line-height: 1em;font-weight: 400;color: var(--clr-black);}
.h-logo {position: absolute;display: inline-block;width: var(--h-logo-width);top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.h-logo img {display: block;max-width: 100%;}
.h-search-wrap {position: fixed;z-index: 103;top: 0;left: 0;width: 100%;height: var(--h-height);background-color: var(--clr-white);-webkit-transform: translateY(-100%);transform: translateY(-100%);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.h-search-inner {padding: 5px 25px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;border: 1px solid var(--clr-grey-2);border-radius: var(--rd-1);--h-search-height: 60px;height: var(--h-search-height);margin-block: calc((var(--h-height) - var(--h-search-height)) / 2);}
.h-search-inner i {display: inline-block;line-height: 0;}
.h-search-inner > * {margin-right: 15px;}
.h-search-inner > *:last-child {margin-right: 0;}
.h-search-inner input {width: 100%;}
.h-cabinet {position: relative;}
.h-cabinet .h-btn div {position: relative;margin-left: 10px;padding-right: 25px;font-weight: 400;font-size: 16px;line-height: 1em;color: var(--clr-black);}
.h-cabinet .h-btn div:before {content: "";position: absolute;top: 2px;right: 2px;width: 8px;height: 8px;border-right: 1px solid currentColor;border-bottom: 1px solid currentColor;-webkit-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.h-cabinet.is-active .h-cabinet-dropdown {opacity: 1;visibility: visible;}
.h-cabinet.is-active .h-btn div:before {top: 6px;-webkit-transform: rotate(225deg);transform: rotate(225deg);}
.h-cabinet-dropdown {position: absolute;bottom: -20px;right: 0;width: 250px;opacity: 0;visibility: hidden;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transform: translateY(100%);transform: translateY(100%);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.h-cabinet-dropdown ul {line-height: 0;border: 1px solid var(--clr-grey-2);border-radius: var(--rd-1);background-color: var(--clr-white);}
.h-cabinet-dropdown li {padding: 12px 15px;line-height: 0;}
.h-cabinet-dropdown li + li {border-top: 1px solid var(--clr-grey-2);}
.h-cabinet-dropdown li > * {font-size: 16px;font-weight: 400;line-height: 1.1em;color: var(--clr-black);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;}
.h-cabinet-dropdown li > * i {display: inline-block;-ms-flex-negative: 0;flex-shrink: 0;position: relative;width: 28px;height: 28px;border-radius: 100%;background: rgba(19, 30, 41, 0.05);}
.h-cabinet-dropdown li > * svg {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);max-width: 80%;max-height: 80%;}
.h-cabinet-dropdown li > * svg *[stroke] {stroke: currentColor;}
.h-cabinet-dropdown li > * svg *[fill] {fill: currentColor;}
.h-cabinet-dropdown li > * div {position: relative;width: 100%;padding-right: 15px;color: currentColor;margin-left: 10px;-ms-flex-item-align: center;-ms-grid-row-align: center;align-self: center;}
.h-cabinet-dropdown li > * div:before {content: "";position: absolute;right: 2px;top: 4px;width: 8px;height: 8px;color: currentColor;border-right: 1px solid currentColor;border-bottom: 1px solid currentColor;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.h-cabinet-dropdown li > * div b {display: inline-block;position: absolute;width: 22px;height: 22px;text-align: center;font-size: 14px;font-weight: 400;line-height: 22px;color: var(--clr-white);border-radius: 100%;background-color: var(--clr-org);margin-left: 10px;vertical-align: top;}
.h-cart.h-btn {--h-btn-clr: var(--clr-black);--h-btn-svg-clr: var(--clr-white);background-color: var(--h-btn-clr);}
.h-cart.h-btn i {background-color: rgba(255, 255, 255, 0.15);}
.h-cart.h-btn b {background-color: var(--clr-green);}
.h-cart.h-btn * {pointer-events: none;}
.h-menu {position: fixed;z-index: 102;left: 0;top: 0;height: 100%;width: 456px;padding: 20px 15px;padding-left: 0;-webkit-transform: translateX(-100%);transform: translateX(-100%);background-color: var(--clr-white);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.h-menu-overlay {position: fixed;z-index: 101;inset: 0;opacity: 0;visibility: hidden;background-color: rgba(19, 30, 41, 0.8);-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.open-menu .h-menu {-webkit-transform: translateX(0%);transform: translateX(0%);}
.open-menu .h-menu-overlay {opacity: 1;visibility: visible;}
.open-search .h-search-wrap {-webkit-transform: translateY(0%);transform: translateY(0%);}
.open-search .h-menu-overlay {opacity: 1;visibility: visible;}
.h-menu-close {position: absolute;top: 20px;left: 25%;}
.h-links {display: -ms-grid;display: grid;height: 100%;width: 100%;padding-block: 100px;}
.h-links ul {margin-left: 25%;margin-block: auto;line-height: 0;}
.h-links li {line-height: 0;margin-bottom: 30px;}
.h-links li:last-child {margin-bottom: 0;}
.h-links a {font-size: 18px;line-height: 1em;font-weight: 400;color: var(--clr-black);}
@media (min-width: 1200px) {
.h-btn:hover {--h-btn-clr: var(--clr-green);--h-btn-svg-clr: var(--clr-green);}
.h-cabinet .h-btn:hover div {color: var(--clr-green);}
.h-cabinet-dropdown li > *:hover {color: var(--clr-green);}
.h-cart.h-btn:hover {--h-btn-svg-clr: var(--clr-white);--h-btn-clr: var(--clr-green);}
.h-hero-links a:hover,
.h-links a:hover {color: var(--clr-green);}
}
@media (max-width: 1640px) {
:root {--h-height: 72px;--h-logo-width: 138px;}
.h-btn {--h-btn-i: 24px;--h-btn-b: 20px;padding: 10px 12px;}
.h-btn b {font-size: 12px;}
.h-wrap-right > * + * {margin-left: 15px;}
.h-hero-links {margin-left: 15px;}
.h-hero-links li {margin-right: 15px;}
.h-hero-links a {font-size: 16px;}
.h-search-inner {padding: 5px 15px;--h-search-height: 46px;}
.h-cabinet .h-btn div {margin-left: 5px;padding-right: 20px;font-size: 15px;}
.h-cabinet .h-btn div:before {width: 7px;height: 7px;}
.h-cabinet-dropdown {bottom: -13px;width: 236px;}
.h-cabinet-dropdown li {padding: 11px 14px;}
.h-cabinet-dropdown li > * {font-size: 15px;}
.h-cabinet-dropdown li > * i {width: 24px;height: 24px;}
.h-cabinet-dropdown li > * div:before {width: 7px;height: 7px;}
.h-cabinet-dropdown li > * div b {width: 20px;height: 20px;font-size: 12px;line-height: 20px;}
.h-menu {width: 340px;padding: 15px;padding-left: 0;}
.h-menu-close {top: 13px;left: 20%;}
.h-links {padding-block: 60px;}
.h-links ul {margin-left: 20%;}
.h-links li {margin-bottom: 20px;}
.h-links a {font-size: 16px;}
}
@media (max-width: 1199px) {
:root {--h-height: 60px;--h-logo-width: 120px;}
.h-btn {--h-btn-i: 22px;padding: 8px 8px;}
.h-wrap-left,
.h-wrap-right {width: calc(50% - var(--h-logo-width) / 2 - 10px);}
.h-wrap-right > * + * {margin-left: 10px;}
.h-hero-links {display: none;}
.h-search {position: absolute;left: 10px;-webkit-transform: translateX(100%);transform: translateX(100%);}
.h-search-inner {padding: 5px 15px;--h-search-height: 40px;}
.h-cabinet .h-btn div {display: none;}
.h-cabinet-dropdown {bottom: -10px;right: -50px;width: 236px;}
.h-menu {padding: 15px;padding-left: 0;}
.h-menu-close {top: 10px;left: 15%;}
.h-menu-close .btn-close {width: 22px;height: 22px;}
.h-links {padding-block: 40px;}
.h-links ul {margin-left: 15%;}
}
@media (max-width: 575px) {
.h-menu {width: 80%;}
}
@media (max-width: 374px) {
:root {--h-logo-width: 84px;}
}
/*--------------------*/
/* - BANNER           */
/*--------------------*/
/*--------------------*/
/* - BUTTONS          */
/*--------------------*/
.btn {position: relative;cursor: pointer;z-index: 1;-ms-flex-negative: 0;flex-shrink: 0;overflow: hidden;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;font-size: 18px;line-height: 1em;font-weight: 500;color: var(--clr-white);text-decoration: none;border: none;border-radius: var(--rd-1);background-color: var(--clr-black);padding-block: 18px;padding-inline: 30px;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.btn b {display: inline-block;line-height: inherit;font-weight: inherit;color: currentColor;}
.btn i {display: none;position: relative;width: 28px;height: 28px;border-radius: 100%;background: rgba(255, 255, 255, 0.15);margin-right: 60px;}
.btn i svg {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);max-width: 80%;max-height: 80%;}
.btn i svg * {-webkit-transition: var(--transition-1);transition: var(--transition-1);}
.btn-primary {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;background-color: var(--clr-black);padding-inline: 16px;min-width: 196px;color: var(--clr-white);}
.btn-primary i {display: inline-block;}
.btn-primary i svg *[stroke] {stroke: var(--clr-white);}
.btn-primary i svg *[fill] {fill: var(--clr-white);}
.btn-secondary {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;background-color: var(--clr-white);padding: 18px 16px;min-width: 196px;color: var(--clr-black);}
.btn-secondary i {display: inline-block;background: rgba(19, 30, 41, 0.05);}
.btn-secondary i svg *[stroke] {stroke: var(--clr-black);}
.btn-secondary i svg *[fill] {fill: var(--clr-black);}
.btn-block {width: 100%;}
.btn.disabled {pointer-events: none;background-color: var(--clr-grey);}
.btn-close {display: inline-block;position: relative;cursor: pointer;width: 28px;height: 28px;color: var(--clr-text);border-radius: 100%;background-color: rgba(19, 30, 41, 0.05);-webkit-transition: color var(--transition-1);transition: color var(--transition-1);}
.btn-close::before,
.btn-close::after {content: "";position: absolute;top: 50%;left: 50%;width: 50%;height: 1px;-webkit-transform: translate(-50%, -50%) rotate(45deg);transform: translate(-50%, -50%) rotate(45deg);background-color: currentColor;}
.btn-close::after {-webkit-transform: translate(-50%, -50%) rotate(-45deg);transform: translate(-50%, -50%) rotate(-45deg);}
.btn-link {display: inline-block;cursor: pointer;font-size: 18px;line-height: 1.38em;color: var(--clr-title);font-weight: 500;text-decoration: underline;text-decoration-color: transparent;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
@media (min-width: 1200px) {
.btn:hover {color: var(--clr-white);background-color: var(--clr-green);}
.btn-primary:hover {color: var(--clr-white);background-color: var(--clr-green);}
.btn-secondary:hover {color: var(--clr-white);}
.btn-secondary:hover i svg *[stroke] {stroke: var(--clr-white);}
.btn-secondary:hover i svg *[fill] {fill: var(--clr-white);}
.btn-close:hover {color: var(--clr-red);}
.btn-link:hover {color: var(--clr-green);text-decoration: underline;text-decoration-color: currentColor;}
}
@media (max-width: 1640px) {
.btn {font-size: 17px;padding-block: 15px;padding-inline: 25px;}
.btn i {width: 26px;height: 26px;margin-right: 50px;}
.btn-primary,
.btn-secondary {min-width: 180px;padding-inline: 15px;}
.btn-link {font-size: 17px;}
}
@media (max-width: 1640px) {
.btn {font-size: 16px;}
}
@media (max-width: 991px) {
.btn {padding-block: 14px;padding-inline: 20px;font-size: 16px;}
.btn i {width: 24px;height: 24px;margin-right: 35px;}
.btn-primary,
.btn-secondary {min-width: 160px;padding-inline: 14px;}
.btn-link {font-size: 16px;}
}
/*--------------------*/
/* - TYPOGRAPHY       */
/*--------------------*/
body {font-family: var(--ff-1);font-weight: 400;font-size: var(--h-5);line-height: 1.2em;color: var(--clr-text);}
body * {font-family: var(--ff-1);}
strong {font-weight: 600;line-height: inherit;}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {font-weight: 500;color: var(--clr-title);}
h1,
.h1 {font-size: var(--h-1);line-height: 1.11em;}
h2,
.h2 {font-size: var(--h-2);line-height: 1.11em;}
h3,
.h3 {font-size: var(--h-3);line-height: 1.19em;}
h4,
.h4 {font-size: var(--h-4);line-height: 1.36em;}
h5,
.h5 {font-size: var(--h-5);line-height: 1.38em;}
h6,
.h6 {font-size: var(--h-6);line-height: 1.38em;}
.title-margin {margin-bottom: 35px;}
.title-page {margin-bottom: 50px;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-cut-2 {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.text-cut-3 {display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.text-cut-4 {display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.text-cut-5 {display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
@media (min-width: 576px) {
.text-sm-left {text-align: left;}
}
@media (max-width: 1640px) {
.title-margin {margin-bottom: 25px;}
.title-page {margin-bottom: 35px;}
}
@media (max-width: 991px) {
.title-margin {margin-bottom: 15px;}
.title-page {margin-bottom: 20px;}
}
/*--------------------*/
/* - TEXT STYLES      */
/*--------------------*/
.text {font-size: 18px;line-height: 1.38em;font-weight: 400;color: var(--clr-text);--text-space: 15px;}
.text * + :where(*) {margin-top: calc(var(--text-space) * 3);}
.text * + :is(p, ul, ol, li) {margin-top: var(--text-space);}
.text :is(img, table, iframe, figure, picture, blockquote, .swiper-entry) + * {margin-top: calc(var(--text-space) * 3);}
.text * + :is(.swiper-entry *) {margin-top: 0;}
.text b {font-weight: 500;}
.text b,
.text span {color: var(--clr-org);}
.text strong {font-weight: 600;}
.text em {font-style: italic;font-weight: 500;}
.text a:not(.btn) {display: inline;color: var(--clr-green);text-decoration: underline;text-decoration-color: transparent;}
.text ul li,
.text ol li {position: relative;padding-left: 25px;}
.text ul li:before {content: "";position: absolute;left: 0;top: 0.44em;width: 0.45em;height: 0.45em;border-radius: 100%;background-color: var(--clr-green);}
.text ol {counter-reset: number;}
.text ol li:before {display: inline-block;position: absolute;left: 0;counter-increment: number;content: counter(number) ".";color: var(--clr-green);line-height: inherit;font-weight: 500;}
.text img {display: block;width: 100%;border-radius: var(--rd-1);}
.text figure {line-height: 0;width: 100% !important;}
.text figure.aligncenter {text-align: center;}
.text figure.alignright {text-align: right;}
.text figure > img {width: auto;}
.text figure figcaption {font-size: 12px;font-weight: 500;line-height: 1.5em;color: var(--clr-black);}
.text iframe {display: block;width: 100%;max-width: 100%;height: 570px;border: 0;max-height: calc(56.3vw - 20px);border-radius: var(--rd-1);}
.text blockquote {text-align: left;font-weight: 500;padding: 45px 70px;color: var(--clr-black);background-color: var(--bg-1);border-radius: var(--rd-1);}
.text table {border-collapse: collapse;width: 100%;}
.text table thead,
.text table tbody {min-width: 690px;}
.text table thead tr {border: none;}
.text table thead th,
.text table thead td {height: 50px;font-weight: 500;color: var(--clr-black);background-color: var(--bg-1);}
.text table thead th:first-child,
.text table thead td:first-child {border-top-left-radius: var(--rd-1);}
.text table thead th:last-child,
.text table thead td:last-child {border-top-right-radius: var(--rd-1);}
.text table tr {border-bottom: 1px solid var(--clr-grey);text-align: left;}
.text table td,
.text table th {vertical-align: middle;height: 70px;padding: 5px;font-size: inherit;line-height: 1.38em;font-weight: 400;color: var(--clr-text);}
.text table td:first-child,
.text table th:first-child {padding-left: 20px;}
.text table td:last-child,
.text table th:last-child {padding-right: 20px;}
@media (min-width: 1200px) {
.text a:not(.btn):hover {text-decoration-color: currentColor;}
}
@media (min-width: 2000px) {
.text {font-size: 20px;}
.text iframe {height: 660px;}
}
@media (max-width: 1640px) {
.text {font-size: 17px;--text-space: 12px;}
.text ul li,
.text ol li {padding-left: 20px;}
.text table thead th,
.text table thead td {height: 40px;}
.text table td,
.text table th {height: 60px;}
.text table td:first-child,
.text table th:first-child {padding-left: 15px;}
.text table td:last-child,
.text table th:last-child {padding-right: 15px;}
.text blockquote {padding: 35px 50px;}
}
@media (max-width: 991px) {
.text {font-size: 15px;--text-space: 8px;}
.text ul li,
.text ol li {padding-left: 15px;}
.text table thead th,
.text table thead td {height: 35px;}
.text table td,
.text table th {height: 50px;}
.text table td:first-child,
.text table th:first-child {padding-left: 8px;}
.text table td:last-child,
.text table th:last-child {padding-right: 8px;}
.text blockquote {padding: 20px 15px;}
}