@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap);@page {size: a4 portrait;margin: 20px 50px 20px 50px !important;padding: 0 !important;font-family: Montserrat,sans-serif;}
.doc-pass,
.doc-pass *,
.doc-pass-wrap {margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;-webkit-box-sizing: border-box;box-sizing: border-box;font-family: Montserrat,sans-serif;}
td,
tr {padding: 0;}
b {font-weight: bold;}
ul {list-style: none;font-size: 0;text-align: left;padding: 0;}
table {border-collapse: collapse;border-spacing: 0;width: 100%;}
.col-1 {width: 8.33333%;}
.col-2 {width: 16.6666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3333%;}
.col-5 {width: 41.6666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.3333%;}
.col-8 {width: 66.6666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.3333%;}
.col-11 {width: 91.6666%;}
.col-12 {width: 100%;}
.row-30 .padd-right {padding-right: 15px;}
.row-30 .padd-left {padding-left: 15px;}
.row-22 .padd-right {padding-right: 11px;}
.row-22 .padd-left {padding-left: 11px;}
.row-12 .padd-right {padding-right: 6px;}
.row-12 .padd-left {padding-left: 6px;}
.spacer-8 {display: block;height: 8px;}
.spacer-12 {display: block;height: 12px;}
.spacer-16 {display: block;height: 16px;}
.spacer-28 {display: block;height: 28px;}
.spacer-35 {display: block;height: 35px;}
.spacer-50 {display: block;height: 50px;}
.spacer-60 {display: block;height: 60px;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.page {position: relative;max-width: 803px;padding: 0;}
.page > * {margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;-webkit-box-sizing: border-box;box-sizing: border-box;font-family: Montserrat,sans-serif;}
.page-break {page-break-after: always;}
.page-top-info {position: relative;display: block;width: 100%;z-index: 2;text-align: center;margin: 0 auto;top: -10px;}
.page-top-info .unilock-logo {display: block;position: relative;text-align: center;width: 106px;height: 26px;margin: 0 auto;margin-top: -10px;}
.page-top-info img {width: 106px;height: 26px;}
.page-top-info .pdf-name {position: relative;display: block;font-size: 10px;font-weight: 500;line-height: 1;letter-spacing: 0.77px;color: #7C7D7D;text-transform: uppercase;margin-top: 10px;margin-bottom: 10px;}
.page-bottom-info {position: relative;width: 100%;height: 40px;}
.page-bottom-info .info {position: absolute;left: 0;bottom: 35px;font-size: 8px;font-weight: 500;line-height: 1;letter-spacing: 0.62px;color: #7C7D7D;text-transform: uppercase;}
.page-bottom-info .date {position: absolute;left: 0;bottom: 25px;font-size: 8px;font-weight: 500;line-height: 1;letter-spacing: 0.62px;color: #7C7D7D;text-transform: uppercase;}
.page-bottom-info .page-count {position: absolute;right: 5px;bottom: 35px;font-size: 10px;font-weight: 500;line-height: 1;letter-spacing: 0.71px;color: #7C7D7D;text-transform: uppercase;}
.page-bottom-info .page-count:after {content: counter(page);}
.section-title .caption {display: block;vertical-align: middle;border-bottom: 1px solid #CACACA;width: 100%;margin-top: 10px;margin-bottom: 20px;}
.section-title .caption span {display: block;font-size: 8px;line-height: 2;font-weight: 700;letter-spacing: 0.2px;color: #333;text-transform: uppercase;}
.section-title .caption span i {font-weight: 500;display: inline-block;font-size: 8px;line-height: 2;letter-spacing: 0.2px;color: #333;font-style: normal;}
.simple-text .text {font-weight: 500;font-size: 10px;line-height: 12px;letter-spacing: 0.37px;color: #333;padding-bottom: 15px;}
.simple-text .text * {font-weight: 500;font-size: 10px !important;font-style: normal;line-height: 12px !important;letter-spacing: 0.37px !important;color: #333;}
.simple-text .text h1,
.simple-text .text h2,
.simple-text .text h3,
.simple-text .text h4,
.simple-text .text h5,
.simple-text .text h6 {font-weight: 600;font-size: 16px !important;font-style: normal;line-height: 18px !important;letter-spacing: 0.37px !important;color: #333;}
.simple-text .text strong {font-weight: 600 !important;font-size: 10px !important;line-height: 12px !important;letter-spacing: 0.37px !important;color: #333;}
.calc-text .text {padding-top: 12px;border-top: 1px solid #CACACA;padding-bottom: 30px;}
/*calc-items*/
.page-block {position: relative;display: block;}
.calc-items {position: relative;}
.calc-items .col {height: auto;padding: 0;}
.calc-items .calc-item {position: relative;text-align: left;font-size: 0;padding-bottom: 30px;}
.calc-item .caption {font-weight: 700;font-size: 10px;line-height: 22px;letter-spacing: 0.25px;color: #333;}
.calc-item .text {font-weight: 500;font-size: 10px;line-height: 11px;color: #333;margin: 5px 0 0 !important;padding: 0 !important;}
.calc-item .text * {font-weight: 500;font-size: 10px !important;font-style: normal;line-height: 12px !important;letter-spacing: 0.37px !important;color: #333;}
.calc-item .text h1,
.calc-item .text h2,
.calc-item .text h3,
.calc-item .text h4,
.calc-item .text h5,
.calc-item .text h6 {font-weight: 600;font-size: 16px !important;font-style: normal;line-height: 18px !important;letter-spacing: 0.37px !important;color: #333;}
.calc-item .text strong {font-weight: 600 !important;font-size: 10px !important;line-height: 12px !important;letter-spacing: 0.37px !important;color: #333;}
.disclaimer-text > .text {margin-top: 20px;padding-bottom: 5px;font-weight: 500;font-size: 8px;line-height: 9px;letter-spacing: 0.29px;color: #7C7D7D;margin-bottom: 0 !important;}
/*GENERAL STYLE END*/
/*packaging-table*/
.packaging-table {display: block;padding-top: 20px;}
.packaging-table table {table-layout: auto;}
.packaging-table table td {border: 1px solid rgb(202, 202, 202);font-size: 10px;line-height: 10px;letter-spacing: 0.27px;font-weight: 400;color: #2A2417;text-align: center;text-transform: uppercase;width: 60px;height: 26px;padding: 2px;vertical-align: middle;}
.packaging-table thead td {height: 60px;vertical-align: middle;background: #f1f2f3;font-weight: 700;color: #333 !important;font-size: 8px;line-height: 10px;text-transform: uppercase !important;}
.packaging-table thead td.caption {background: transparent;border-left-color: transparent;border-top-color: transparent;}
.packaging-table tbody tr td.caption {text-align: left;padding-left: 10px;font-weight: 700;width: 130px;color: #333;font-size: 8px;line-height: 10px;background: #f1f2f3;}
/*laying*/
.laying-items {position: relative;}
.laying-items .col {padding-top: 15px;padding-bottom: 30px;}
.laying-items .laying-item {position: relative;padding-right: 15px;}
.laying-item img {position: relative;width: 169px;height: auto;}
.laying-item .caption {position: relative;display: block;margin-top: 0;font-size: 8px;line-height: 10px;text-transform: uppercase;font-weight: 500;color: #333;line-height: 0.29px;text-align: left;}
/*appearance*/
.appearance-items {position: relative;}
.appearance-items .col {padding-top: 10px;padding-bottom: 30px;}
.appearance-items .laying-item {position: relative;padding-right: 15px;}
.appearance-item img {position: relative;width: 66px !important;height: auto;}
.appearance-img {position: relative;width: 66px !important;max-width: 66px;height: auto;margin-bottom: 10px;}
.appearance-img img {position: relative;width: 66px !important;height: auto;}
.appearance-item .caption {position: relative;display: block;font-size: 10px;line-height: 12px;font-weight: 500;letter-spacing: 0.37px;color: #333;text-align: left;}
/*unit-item*/
.units-items .col-3 {width: 80px;vertical-align: top;font-size: 0;}
.units-items .size-items {padding-top: 20px;}
.units-items .size-items .col-6 {width: 50%;}
.units-items .unit-item {margin-right: 20px;padding-bottom: 30px;}
.unit-item .unit-img {position: relative;width: 50px;height: 50px;display: inline-block;vertical-align: middle;}
.unit-item .unit-img img {width: 100%;height: auto;}
.unit-item-info {display: inline-block;vertical-align: middle;margin-left: 10px;}
.unit-item .caption {font-weight: 700;font-size: 10px;line-height: 20px;letter-spacing: 0.25px;color: #333;margin-bottom: 3px;}
.unit-item .name {font-weight: 500;font-size: 10px;line-height: 12px;letter-spacing: 0.37px;color: #333;margin-top: 8px;}
/*size*/
.size-items {position: relative;}
.size-items .col {padding-right: 15px;padding-bottom: 20px;}
.size-items .size-item {position: relative;}
.size-item .size-img {position: relative;width: 126px;height: auto;margin-right: 10px;display: inline-block;vertical-align: middle;}
.size-item .size-img img {width: 100%;height: auto;}
.size-item .size-info {text-align: left;display: inline-block;vertical-align: middle;}
.size-item .size-info .caption {font-weight: 700;font-size: 10px;line-height: 20px;letter-spacing: 0.25px;color: #333;}
.size-item .size-info .text {font-weight: 500;font-size: 10px;line-height: 12px;letter-spacing: 0.33px;color: #333;}
.size-item .size-info .text p {margin: 0 !important;}
/*applications*/
.application-items {position: relative;}
.application-items .app-item {position: relative;padding: 12px 8px;background: #FAFAFA;height: 40px;}
.application-items .col {padding-top: 11px;}
.app-item .app-img {display: inline-block;vertical-align: top;width: 40px;text-align: center;}
.app-item .app-img img {max-width: 40px;max-height: 40px;line-height: 0px;}
.app-item .app-info {display: inline-block;vertical-align: middle;padding-left: 17px;text-align: left;width: 70%;padding-right: 15px;}
.app-item .app-info .caption {font-weight: 700;font-size: 10px;line-height: 12px;letter-spacing: 0.25px;color: #333;}
.app-item .app-info .text {font-weight: 500;font-size: 8px;line-height: 10px;letter-spacing: 0.29px;color: #333;margin-top: 5px;}
/*represent-items*/
.represent-items .col {padding-bottom: 30px;font-size: 0;vertical-align: top;}
.represent-items .col-3 {width: 130px;}
.represent-items img {position: relative;width: 130px;max-width: 130px;height: auto;}
.represent-img {width: 130px;}
.represent-img img {position: relative;width: 130px;height: auto;}
.represent-items .represent-info {text-align: left;padding-left: 20px;padding-top: 15px;width: 300px;}
.represent-items .represent-info .name {font-size: 16px;line-height: 1.1;font-weight: 500;letter-spacing: 0.6px;color: #333;margin-bottom: 10px;}
.represent-items .represent-info div {font-size: 10px;line-height: 1.1;font-weight: 500;letter-spacing: 0.37px;color: #333;margin-bottom: 10px;}
.custom-block .page-block:last-child table tr:last-child {display: none;}