/*--------------------*/
/* - 404              */
/*--------------------*/
.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - var(--h-height));
  margin: 0 !important;
  padding: 45px 0;
}

.page-404-inner {
  max-width: 480px;
  width: 100%;
  margin-inline: auto;
  text-align: center;

  .title {
    font-weight: 600;
  }

  .text {
    margin-top: 15px;
    font-size: calc(var(--h-4) - 3px);
  }

  .btn {
    margin-top: 20px;
  }
}

.page-404-img {
  display: block;
  max-width: 468px;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 30px;
}