/*-------------------*/
/* - Checkout        */
/*-------------------*/
.toggle-btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: var(--clr-black);
  transition: var(--transition-1);

  b {
    font-size: 18px;
    font-weight: 500;
  }

  i {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    margin-right: 15px;
    background: rgba(19, 30, 41, 0.05);
    transition: var(--transition-1);
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    max-height: 60%;

    *[stroke] {
      stroke: currentColor;
    }

    *[fill] {
      fill: currentColor;
    }
  }

  &.is-active {
    i {
      background-color: rgba(255, 106, 57, .5);
    }
  }
}

.toggle-inner {
  padding-top: 15px;
  display: none;
}

.ch-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--clr-green);
  margin-block: 40px;
}

.order-wrap {
  margin-bottom: 25px;

  >* {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.order-discount {
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-text);
  display: flex;
  align-items: center;

  b {
    font-weight: 500;
    color: var(--clr-black);

    &:first-child {
      margin-left: auto;
    }
  }
}

.order-price {
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-text);
  display: flex;
  align-items: center;

  b {
    font-size: var(--h-4);
    font-weight: 500;
    color: var(--clr-black);

    &:first-child {
      margin-left: auto;
    }
  }
}

.coupon-field {
  position: relative;
  line-height: 0;
}

.coupon-field-btn {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 1em;
  color: var(--clr-black);
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 23px;
  transition: var(--transition-1);
}

.disclaimer {
  padding: 20px;
  font-size: var(--h-5);
  font-weight: 400;
  color: var(--clr-black);
  background: var(--bg-1);
  border-radius: var(--rd-1);
  margin-bottom: 25px;
}

.checkout-form .ch-box-wrap {
  margin-bottom: 25px;

  .ch-box-entry span {
    font-weight: 500;
  }
}

.checkout-wrap {
  >*+* {
    margin-top: 10px;
  }
}

.checkout_items {

  >*+* {
    margin-top: 10px;
  }
}

.th-wrap {
  display: flex;
  padding-block: 30px;
  height: calc(100vh - var(--h-height));
}

.th-inner {
  width: 100%;
  max-width: 764px;
  margin: auto;
  text-align: center;
  padding: 50px;
  background: var(--bg-1);
  border-radius: var(--rd-1);

  >*+* {
    margin-top: 35px;
  }
}

.th-message {
  font-size: calc(var(--h-4));
  line-height: 1.4em;

  b {
    font-weight: bold;
    display: block;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .toggle-btn:hover {
    color: var(--clr-green);
  }

  .coupon-field-btn:hover {
    color: var(--clr-green);
  }

  .checkout_items {
    .cart_prd-info {
      position: relative;
      padding-right: 160px;
      width: 100%;
    }

    .thumb-input-number {
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
      margin: 0 !important;
    }
  }
}

@media (max-width: 1640px) {
  .coupon-field-btn {
    top: 19px;
  }

  .checkout-wrap {
    width: 90%;
    margin-left: auto;
  }
}

@media (max-width: 1199px) {
  .checkout-wrap {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .ch-line {
    margin-block: 30px;
  }

  .disclaimer {
    padding: 15px;
  }

  .coupon-field-btn {
    top: 17px;
    right: 10px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .th-inner {
    padding: 30px 15px;

    >*+* {
      margin-top: 20px;
    }
  }
}