/*--------------------*/
/* - RESET */
/*--------------------*/
html {
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: border-box
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  -webkit-locale: auto;
}

html:not(.touch-screen)::-webkit-scrollbar,
html:not(.touch-screen) *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html:not(.touch-screen)::-webkit-scrollbar-track,
html:not(.touch-screen) *::-webkit-scrollbar-track {
  background: var(--clr-white);
}

html:not(.touch-screen)::-webkit-scrollbar-thumb,
html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background: var(--clr-green);
}

:focus,
:hover,
:active,
:visited {
  outline: none;
}

button {
  background: none
}

body ::selection {
  color: var(--clr-white);
  background: var(--clr-prl);
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
  transition: var(--transition-1);
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

picture {
  font-size: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--clr-black);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  height: 0.7em;
  width: 0.7em;
  // background: url("../img/icons/icon-close.png") no-repeat 50% 50%;
  background-size: contain;
  cursor: pointer;
}

input,
textarea,
select {
  border-radius: 0;
  background: none;
  border: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

textarea {
  display: block;
  resize: none;
  overflow: auto;
}

select::-ms-expand {
  display: none;
}